# demo-app-service.yaml
apiVersion: v1
kind: Service
metadata:
  name: demo-app-service
spec:
  type: NodePort
  selector:
    app: demo-app
  ports:
    - protocol: TCP
      port: 9008        # Service port
      targetPort: 9008  # Container port your app listens on
      nodePort: 30000   # External port on EC2


